.categories-page, .search-results-page
  margin: 0 auto
  padding: 7.5vmax 5vmax

.categories-page
  @include linear-gradient(#212121, #424242)
  box-shadow: inset 0 -1px 1px rgba(#455A64, 0.2)

.search-results-page
  min-height: 1400px
