.product
  @include display(flex)
  @include flex-direction(column)
  background: #FFF
  height: 225px
  border: 1px #D2D2D2 solid
  border-radius: 3px 3px 5px 5px
  box-shadow: 1px 1px 1px rgba(#000, 0.05)

.product-image
  background-size: 50%
  background-repeat: no-repeat
  margin-bottom: auto
  @include flex-grow(1)
  background-position: center center

.product-details
  border-top: 1px rgba(0, 0, 0, 0.15) dotted
  margin-top: auto
  background: linear-gradient(#fff, #fafafa)
  border-radius: 0 0 5px 5px

.product-title
  display: block
  color: #757575
  font-size: 13px
  text-align: center
  padding: 1.25em 1em
  text-shadow: 1px 1px #FFF

.search-result:hover .product
  border: 1px mix(#D2D2D2, #FF8F00, 75%) solid
  box-shadow: 1px 1px 1px rgba(#FF6F00, 0.05)

.search-result:hover .product-details
  background: linear-gradient(#FFF, #FFF8E1)

.search-result:hover .product-title
  color: mix(#757575, #FF8F00, 75%)
