// Font settings
// ==================================================================

@font-face
  font-family: 'Open Sans'
  src: url('fonts/open-sans-regular.woff') format('woff')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: url('fonts/open-sans-semi-bold.woff') format('woff')
  font-weight: 600
  font-style: normal

@font-face
  font-family: 'Open Sans'
  src: url('fonts/open-sans-bold.woff') format('woff')
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'FontAwesome'
  src: url('fonts/fontawesome-regular.woff?v=4.2.0') format('woff')
  font-weight: normal
  font-style: normal

$font-open-sans: 'Open Sans', Arial, sans-serif
$font-fontawesome: 'FontAwesome'

$font-weight-normal: 400
$font-weight-semi-bold: 600
$font-weight-bold: 700
